*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

:root {
	--color-dark-100: hsl(0, 0%, 100%);
	--color-dark-300: hsl(0, 0%, 80%);
	--color-dark-500: hsl(0, 0%, 50%);
	--color-dark-600: hsl(0, 0%, 30%);
	--color-dark-900: hsl(0, 0%, 0%);

	--border-base-100: solid 3px var(--color-dark-100);
	--border-base-300: solid 3px var(--color-dark-300);
	--border-tags: solid 1px var(--color-dark-600);
	--border-radius-base: 0.5em;
	--border-radius-tags: 0.25em;

	--button-width: 100px;

	--ff-sans: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	--ff-user-input: monospace;

	--fsize-base: 100%;
}

html {
	font-size: var(--fsize-base);

	& textarea,
	input {
		font-size: var(--fsize-base);
	}
}

body,
h1,
h3 {
	color: var(--color-dark-500);
	font-family: var(--ff-sans);
}

h2,
p {
	color: var(--color-dark-900);
	font-weight: 600;
}

a {
	text-decoration: none;
}

main {
	padding-block: 6rem 12rem;
	padding-inline: 10%;
	background-color: lightcoral;
	min-height: 100vh;
}

section {
	--width: 700px;

	max-width: var(--width);
	margin-inline: auto;
	padding-inline: min(10%, calc(var(--width) * 0.1));
}

textarea,
input,
button {
	border-radius: var(--border-radius-base);
	border-style: none;
	padding: 1em;
	font-family: var(--ff-user-input);
}

button {
	align-self: flex-end;
	width: var(--button-width);
	border: var(--border-base-100);
	background-color: transparent;
	color: var(--color-dark-100);
}

/**************************
****** MEDIA QUERIES ******
**************************/

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-dark-600);
		color: var(--color-dark-100);
	}

	h1,
	h3 {
		color: var(--color-dark-500);
	}

	h2,
	p {
		color: var(--color-dark-100);
	}

	.slider:before {
		background-color: var(--color-dark-500);
	}
}
