/*****************
****** HOME ******
*****************/





/* MAIN */




/******************
***** PROFILE *****
******************/

/* main */


/**************************
****** MEDIA QUERIES ******
**************************/

@media (prefers-color-scheme: dark) {
	body {
		background-color: var(--color-dark-600);
		color: var(--color-dark-100);
	}

	h1, h2, h3 {
		color: var(--color-dark-500);
	}

	.slider:before {
	background-color: var(--color-dark-500);

	}
}
