/*****************
****** HOME ******
*****************/

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

/* header */
header {
	--size: 10rem;

	text-align: center;
	line-height: var(--size);
	height: var(--size);
	font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
	font-size: 2rem;
}

/* question card */

.card--question {
	position: relative;
	width: 80%;
	margin: 3rem auto;
	border: solid 3px gainsboro;
	padding-block-start: 3rem;
}

.card--bookmark {
	--size: 4rem;

	width: var(--size);
	position: absolute;
	right: 1rem;
	top: calc(var(--size) / -2);
}

.text--question {
	width: 45%;
	font-size: 1.5rem;
	margin-inline: auto;
	line-height: 1.3;
}

.button--answer {
	display: block;
	padding: 1em;
	margin: 3rem auto;
	cursor: pointer;
}

.tag {
	--size: 1rem;

	padding: 0.5em;
	margin-inline-start: var(--size);
	margin-block-end: var(--size);
}
