.card__question {
	position: relative;
	border: var(--border-base-300);
	padding-block-start: 3rem;
}

.card__question + .card__question {
	margin-block-start: 6rem;

}

.card__bookmark {
	--size: 4rem;

	width: var(--size);
	position: absolute;
	right: 1rem;
	top: calc(var(--size) / -2);
	cursor: pointer;
}

.card__title,
.card__answer {
	font-size: 1.5rem;
	margin-inline: auto;
	line-height: 1.3;
}

.card__answer {
	margin-block-end: 3rem;
}

.hidden {
	display: none;
}
